<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Отзывы пользователей</title>
</head>
<body>
<header class="py-12">
    <div class="container mx-auto flex items-center gap-5 text-gray-700 font-medium">
        <a th:href="@{/products}" class="hover:text-blue-700">Главная</a>
        <i class="fa-solid fa-caret-right text-sm"></i>
        <span>Администратор/Продавец</span>
        <i class="fa-solid fa-caret-right text-sm"></i>
        <span class="text-blue-600">Отзывы пользователей</span>
    </div>
</header>

<div class="container h-full mx-auto flex flex-col">

    <div class="mt-9 mb-6">
        <p class="text-2xl font-medium">Отзывы пользователей</p>
    </div>

    <div class="inline-grid grid-cols-2 gap-4 mb-6">
        <div class="border w-full p-6 bg-white rounded-lg flex flex-col justify-between"
             th:each="review : ${reviews}">
            <div>
                <div class="relative mb-2">
                    <div>
                        <span>Товар: </span>
                        <span class="font-medium" th:text="${review.getProduct().getName()}"></span>
                    </div>
                    <p class="text-lg 2xl:text-2xl font-medium mr-2.5"
                       th:text="${review.getUser().getName()} + ' ' + ${review.getUser().getLastname()}"></p>
                    <div class="flex gap-2 items-center text-gray-600 font-medium 2xl:text-md">
                        <div class="text-yellow-400">
                            <i th:each="i : ${#numbers.sequence(1, review.getRating())}"
                               class="fa-solid fa-star"></i><!--
                    --><i th:if="${review.getRating() < 5}"
                          th:each="i : ${#numbers.sequence(review.getRating(), 4)}"
                          class="fa-regular fa-star"></i>
                        </div>
                        <div>
                            <span th:text="${@reviewServiceImpl.getReviewDate(review.getCreated_at())}"></span>
                        </div>
                    </div>
                </div>
                <p class="text-gray-800 font-medium 2xl:text-lg" th:text="${review.getText()}"></p>
            </div>
            <div class="flex gap-2 justify-end">
                <form th:action="@{/admin/reviews/post}" method="get">
                    <input type="hidden" name="reviewId" th:value="${review.getId()}">
                    <button type="submit"
                            class="text-white float-right bg-blue-600 hover:bg-blue-800 mt-5 font-medium rounded-lg text-sm 2xl:text-md px-5 py-2.5">
                        Опубликовать
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>
</html>