<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Корзина</title>
</head>
<body class="min-w-[1349px]">
<header class="py-12">
    <div class="container mx-auto flex items-center gap-5 text-gray-700 font-medium">
        <a th:href="@{/products}" class="hover:text-blue-700">Главная</a>
        <i class="fa-solid fa-caret-right text-sm"></i>
        <span class="text-blue-600">Корзина</span>
    </div>
</header>

<div class="container h-full mx-auto grid grid-cols-[77.5%_20%] gap-8">

    <div>
        <div class="mt-9 mb-6 flex justify-between">
            <div class="text-2xl font-medium">Корзина
                <span id="cart-amount" th:text="${@cartServiceImpl.cartAmount()}"></span>
            </div>
            <form th:action="@{/cart/remove_all}" method="get">
                <button type="submit" class="text-blue-600 hover:underline">Очистить корзину</button>
            </form>
        </div>

        <table class="w-full text-left bg-white">
            <thead class="text-gray-500">
            <tr>
                <th class="pr-6 py-4">Название</th>
                <th class="px-4 text-center">Количество</th>
                <th class="pl-6 py-4 text-right">Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr class="font-medium border-b last:border-0" th:each="item, itemIndex : ${items}" data-remove-if-zero="true">
                <td class="pr-6 py-4 flex flex-col gap-2">
                    <a th:href="@{|/products/${item.getProduct().getId()}|}"
                       class="text-lg"
                       th:text="${item.getProduct().getName()}"></a>
                    <div class="flex gap-4">
                        <form th:action="@{/cart/remove}" method="get">
                            <input type="hidden" name="id" th:value="${item.getId()}">
                            <button type="submit" class="text-blue-600 hover:underline">Удалить из корзины</button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="flex justify-center items-center gap-1 text-lg">
                        <form th:id="'decrease-form-' + ${itemIndex.index}" th:action="@{/decrease_amount}" method="get">
                            <input type="hidden" name="cartItemId" th:value="${item.getId()}">
                            <button type="button" th:onclick="'decreaseAmount(' + ${itemIndex.index} + ')'">-</button>
                        </form>
                        <span th:id="'amount-' + ${itemIndex.index}" th:text="${item.getAmount()}"></span>
                        <form th:id="'increase-form-' + ${itemIndex.index}" th:action="@{/increase_amount}" method="get">
                            <input type="hidden" name="cartItemId" th:value="${item.getId()}">
                            <button type="button" th:onclick="'increaseAmount(' + ${itemIndex.index} + ')'">+</button>
                        </form>
                    </div>
                </td>
                <td class="pl-6 py-4 text-right text-lg">
                    <span th:id="'price-' + ${itemIndex.index}" th:text="${@cartServiceImpl.getPrice(item)}"></span>
                    <span><i class="fa-solid fa-ruble-sign 2xl:text-2xl"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="h-full">
        <div th:if="${@cartServiceImpl.getAmountOfCartItems() >= 1}"
             class="bg-blue-600 sticky top-14 flex flex-col gap-6 items-center justify-center text-white rounded-xl h-[204px] mt-9">
            <div class="text-xl">
                <span class="text-gray-200">Итого:</span>
                <br>
                <span id="total-price" th:text="${totalPrice}" class="font-medium"></span>
                <i class="fa-solid fa-ruble-sign 2xl:text-2xl"></i>
                /
                <span id="exchanged-price" th:text="${exchangedPrice}" class="font-medium"></span>
                <i class="fa-solid fa-dollar-sign 2xl:text-2xl"></i>
            </div>
            <div class="">
                <a th:href="@{/order}"
                   class="bg-white text-black hover:bg-blue-600 hover:text-white hover:border border-white mt-5 font-medium rounded-lg text-sm 2xl:text-md px-5 py-2.5">
                    Оформить заказ
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/cart.js}"></script>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>
</html>